<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <h3>Edit Info for <%=@player.name%></h3>
  </head>
  <body>


    <form action="/players/<%=@player.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">

      <label for="edit_name">Edit Name: </label>
        <p><input type="text"id="name" name="name" value="<%=@player.name %>"> </p>

      <label for="edit_age">Edit Age: </label>
        <p><input type="text" id="age" name="age" value="<%=@player.age %>"></p>

      <label for="edit_favorite_game">Edit Favorite Game: </label>
        <p><input type="text"id="favorite_game" name="favorite_game"value="<%=@player.favorite_game%>"></p>

      <label for="edit_win_phrase">Edit Win Phrase: </label>
        <p><input type="text" id="win_phrase" name="win_phrase" value="<%=@player.win_phrase%>"></p>

      <label for="edit_lose_phrase">Edit Losing Phrase: </label>
        <p><input type="text" id="lose_phrase" name="lose_phrase" value="<%=@player.lose_phrase%>"></p>

      <label for="edit_motto">Edit Motto: </label>
        <p><input type="text" id="motto" name="motto" value="<%=@player.motto%>"></p>

      <input type="submit" name="submit" value="Confirm">
    </form>



  </body>
</html>
