<!DOCTYPE html>

<html>
<meta charset="UTF-8">

<head>
  <% if current_user.id == @player.id %>
  <h1> Welcome to the Game </h1>
  <% else %>
  <h1>Viewing Opponent Details</h1>
  <% end %>
    <h2> Player Profile </h2>
  </head>

  <body>
    <h3> Name: <%= @player.name %> </h3>
    <h3> Age: <%= @player.age %> </h3>
    <h3> Favorite Game: <%= @player.favorite_game %> </h3>
    <h3> Motto: <%= @player.motto%> </h3>
    <h3>Victory Phrase: <%= @player.win_phrase%></h3>
    <h3>Losing Phrase: <%= @player.lose_phrase %></h3>

      <br>

      <% if current_user.id == @player.id && logged_in?%>
    <form action="/players/<%=@player.id%>" method="post">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
    <br>
    <form  action="/players/<%=@player.id%>/edit" method="get">
      <input type="submit" value="Edit">
    </form>
    <%end%>
      <br>
      <% if logged_in? %>
      <form action="/matches/new" method="get">
        <input type="submit" name="submit" value="New Match">
      </form>
      <br>
        <form action="/logout" method="get">
          <input type="submit" name="submit" value="Log Out">
        </form>
      <% end %>
      <br>
      <br>
    <a href="/players"> Go To Players </a>
    <br>
    <a href="/">Go To Menu</a>

    </body>

</html>
