<h1><%=@match.name%></h1>
<h2><%=@match.created_at.strftime("%A, %d %b %Y %l:%M %p")%></h2>
<br>
<h2>Players:</h2>

<h3><%=@match.players%></h3>

<br>

<h2>Winner: </h2>
<h3><%=@match.winner %></h3>
<br>
<h2>Score:</h2>
<h3><%=@match.score%></h3>
<br>
<h2>Notes:</h2>
<p><%=@match.notes%></p>
<br>
<br>


<form action="/matches/<%=@match.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

<form  action="/matches/<%=@match.id%>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<br>
<% if logged_in? %>
<form action="/matches/new" method="get">
  <input type="submit" name="submit" value="New Match">
</form>
<br>
  <form action="/logout" method="get">
    <input type="submit" name="submit" value="Log Out">
  </form>
<% end %>
<a href="/">Go To Menu</a>
